.WordleBoard {
  display: grid;
  gap: 5px;
}

.WordleRowContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.WordleRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.WordleCell {
  font-size: 1.2rem;
  padding: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
}
