.WordleBoard {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 400px;
  height: 420px;
}

.WordleRowContainer {
  display: flex;
  flex-direction: row;
  /*grid-template-columns: auto 1fr;*/
  /*grid-gap: 10px;*/
}

.WordleRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  user-select: none;
}

.WordleCell {
  display: inline-flex;
  font-size: 2rem;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  user-select: none;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
